<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          {% include menu.html %}
 
          <div class="inner cover">
            <h1 class="cover-heading">{{ page.title }}</h1>
            <p class="lead">Think you've mastered Agile? Try Scrum of the Earth! Where you pit yourself against up to 4 other players to see who can build the most successful products</p>
            <p class="lead">
              <a href="/download" class="btn btn-lg btn-secondary">Download</a>
              <span class="buy-it-now">or</span>
              <a href="#" class="btn btn-lg btn-secondary">Buy it now</a>
            </p>
          </div>
          {% include mastfooter.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
